/* Write your CSS here */

.EachTodo {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  margin: 3px;
  padding: 4px;
}
.eachTodo {
  font-size: 12px;
  padding-right: 14px;
  padding-left: 2px;
}
.deleteButton {
  border: 1px solid #ff0b37;
  border-radius: 8px;
  background-color: #ffffff;
  color: #ff0b37;
  width: 70px;

  height: 25px;
}

@media (min-width: 768px) {
  .eachTodo {
    font-size: 13px;
  }
  .deleteButton {
    width: 80px;
    border-radius: 8px;
  }
}
